//**
// Global Settings
//**

// Global Font Imports
@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900');

// Global Responsive Breakpoints
$mobile-break: 30rem;
$tablet-break: 45rem;
$desktop-break: 60rem;
$large-desktop-break: 73.13rem;

// Global Color Variables (need to add / remove values to map _maps.scss)
$primary-color: #4AC788;
$project-grey: #eee;
$project-black: #000;
$project-white: #fff;

// Global Sizing Variables (need to add / remove values to map _maps.scss)
$f-xxl: 2.5rem;
$f-xl: 2rem;
$f-l: 1.5rem;
$f-m: 1.2rem;
$f-base: 1.1rem;
$f-s: 0.8rem;
$f-xs: 0.875rem;
$f-xxs: 0.75rem;

// Global Font Variables
$helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;
$pt-serif: "Source Sans Pro", sans-serif;
$inconsolata: "Inconsolata", monospace;

// Include Specific Modules
@import "../tools/mixins";
@import "../tools/maps";
