// ==========================================================================
// PULL UTIL
// ==========================================================================
// #ABSTRACT

/*doc
---
title: Pull
name: 18_pull
category: utilities
---

Pulls an element left or right

```html_example
    <div class="u-pull--left">Floated left</div>
    <div class="u-pull--right">Floated right</div>
```

*/

.u-pull--left {
    float: left;
}

.u-pull--right {
    float: right;
}

.u-clear--left {
    clear: left;
}

.u-clear--right {
    clear: right;
}
